body{
    background-color: rgb(97, 97, 97);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#container{
    width: 1350px;
    height: 650px;
    background-color: rgb(177, 177, 177);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    
 
}

#area_juego{
    width: 1095px;
    height: 650px;
    background-color: white;

}

#resultados{
    width: 255px;
    height: 650px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    

}

#titulo{
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 2px;

}

#titulo_resultados{
    text-align: center;
    color: whitesmoke;
    letter-spacing: 2px;
}